.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid grey;
}

.select {
    background-color: black;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: min-content;
    height: min-content;
}