.box {
    text-wrap: wrap;
    width: 1vw;
    height: 1vw;
    background-color: gray;
    border: 1px solid black;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}

.box:hover {
    font-size: medium;
    overflow: visible;
    z-index: 2;
    scale: 2;
}

.live {
    background-color: black;
    color: white;
}

.heatLevel0 {
    background-color: #E0F8F8;
}

.heatLevel1 {
    background-color: #CFECEC;
}

.heatLevel2 {
    background-color: #BFEFFF;
}

.heatLevel3 {
    background-color: #B0E0E6;
}

.heatLevel4 {
    background-color: #ADD8E6;
}

.heatLevel5 {
    background-color: #87CEEB;
}

.heatLevel6 {
    background-color: #6495ED;
}

.heatLevel7 {
    background-color: #4169E1;
}

.heatLevel8 {
    background-color: #0000FF;
}

.heatLevel9 {
    background-color: #000080;
}

#gridColumnContainer {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: auto;
}

.gridRowContainer {
    display: flex;
    flex-direction: row;
    width: min-content;
    height: auto;
}

#outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridOuterContainer {
    display: flex;
    height: 860px;
    justify-content: center;
    align-items: center;
}

.toolItem {
    margin: 0px 10px 0px;
}

.cellInfo {
    margin-top: 10px;
}