.box {
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 1px solid black;
}

#gridContainer {
    border: 1px solid black;
    display: grid;
    width: min-content;
    height: min-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.selected {
    background-color: blue;
}