body {
    margin: 0px;
    background-color: grey;
}

.grid-generic {
    max-width: 100%;
    min-height: 100svh;
    display: grid;
    grid-template-areas: 
    "head head"
    "sidebar main-content";
    grid-template-columns: minmax(300px, 20%);
    grid-template-rows: minmax(67px, 16vh);
    gap: 5px;
    background-color: grey;
    position: relative;
    font-family: 'Times New Roman', Times, sans-serif;
}

.grid-ele {
    background-color: #222224;
}

.grid-head-container {
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 2vw + 0.1rem, 3rem);
    color: #15150f;
    background-image: url(../media/Konachan.com\ -\ 199119\ alcd\ blood\ bloodborne\ cape\ doll\ flowers\ gray_hair\ hat\ headdress\ landscape\ leaves\ male\ moon\ night\ polychromatic\ scenic\ skull\ the_doll\ the_hunter\ tree.jpg);
    background-size: cover;
    background-position: 0% 30%;
}

.grid-sidebar-container {
    border-top-right-radius: 2rem 2rem;
    border-bottom-right-radius: 2rem 2rem;
    grid-area: sidebar;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-sidebar-container ul {
    position: sticky;
    top: 10%;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 2rem;
    margin-top: 20px;
    padding-left: 18%;
}

.grid-sidebar-container li {
    margin-top: 6vh;
    color: #888884;
}

.grid-sidebar-container li:hover {
    transform: scale(1.1);
}

.grid-sidebar-container a {
    text-decoration: none;
    color: #888884;
}

.grid-sidebar-container a:active {
    color: #444444;
}

.grid-sidebar-container a:hover {
    text-decoration: underline;
}

#selected-sidebar{
    color: azure;
}

#profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 10rem;
    background-color: aliceblue;
    border: solid 10px #888884;
    margin-top: 30px;
    transition: 500ms;
}

#profile-pic:hover {
    transform: scale(1.2);
}

.grid-content-container {
    border-top-left-radius: 2rem 2rem;
    border-bottom-left-radius: 2rem 2rem;
    grid-area: main-content;
    padding: 2rem;
    font-family: 'Times New Roman', Times, sans-serif;
}

.grid-content-container > div {
    display: flex;
    flex-direction: column;
    word-wrap:break-word;
    color: #888884;
    position: relative;
    font-size: 1.3rem;
}

.grid-content-container > div p {
    max-width: 1000px;
    width: 100%;
    line-height: 2;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.grid-content-container > div p::first-letter {
    font-size: 2.0rem;
}



.grid-content-container > div h2 {
    text-decoration: underline;
}

.grid-content-container > div img {
    max-width: 1100px;
    width: 60vw;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (max-width:870px) {

    .grid-generic {
        max-width: 100%;
        min-height: 100svh;
        display: grid;
        grid-template-areas: 
        "head"
        "sidebar" 
        "main-content";
        grid-template-columns: 100%;
        grid-template-rows: minmax(67px, 16vh);
    }

    .grid-content-container {
        border-top-right-radius: 2rem 2rem;
        border-bottom-right-radius: 2rem 2rem;
    }

    .grid-sidebar-container {
        border-top-left-radius: 2rem 2rem;
        border-bottom-left-radius: 2rem 2rem;
    }

    .grid-sidebar-container ul {
        list-style: none;
        padding-left: 0px;
    }

    .grid-sidebar-container li {
        display: inline;
        font-size: 1.2rem;
        text-decoration: underline;
    }

    .grid-content-container > div img {
        width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
